[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
pytest-cov = "*"
flake8 = "*"
isort = "*"
sphinx = "*"
recommonmark = "*"
pre-commit = "*"
importlib-metadata = "*"
typing-extensions = "*"
types-pyyaml = "*"

[packages]
zarr = "*"
numpy = "*"
opencv-contrib-python-headless = "*"
pymap3d = "*"
scipy = "*"
tqdm = "*"
transforms3d = "*"
pyyaml = "*"
matplotlib = "*"
imageio = "*"
notebook = "*"
ptable = "*"
ipywidgets = "*"
protobuf = ">=3.12.2"
torch = ">=1.5.0,<=1.7.1"
torchvision = ">=0.6.0,<=0.8.2"
shapely = "*"
bokeh = "*"
sphinx-press-theme = "*"
types-pyyaml = "*"
jupyterlab = "*"

[packages.l5kit]
editable = true
path = "."

[packages.stable-baselines3]
extras = [ "extra",]
version = "*"
